.botao{
    margin-top: 12px;
    padding: 16px;
    background-color: var(--paleta-200);
    font-size: 18px;
    border-radius: 16px;
    border: 1px solid;
    color: white;
}
.botao:active{
    margin-top: 12px;
    padding: 16px;
    background-color: var(--paleta-400);
    font-size: 18px;
    border-radius: 16px;
    border: 1px solid;
    color: white;
}